
.shopify-block.swiper-slide {
    height: auto;
}

.slide-content,
.image-category-slider-item {
    height: 100%;
}

.collection-banner-wrap img,
.collection-banner-wrap svg
 {
    max-height: 340px;
    width: 100%;
}

.related_product .swiper.card-slider .swiper-wrapper {
    margin: initial;
}

@media (max-width:500px) {
    .collection-banner-wrap img,
    .collection-banner-wrap svg
     {
        max-height: 150px;
    }
}