.shopify-policy__container {
    max-width: 900px;
    margin: 0 auto;
    padding: 42px 20px;
}

.shopify-policy__title {
    text-align: center;
    margin-bottom: 24px;
}

.shopify-policy__title h1 {
    font-size: 38px;
    color: var(--brand-color);
}

.shopify-policy__body .rte {
    text-align: justify;
}

.shopify-policy__body .rte :is(h2, h3) {
    text-transform: capitalize;
    margin: 50px 0 10px;
    color: var(--brand-color);
    font-size: 26px;
    font-weight: 600;
}

.shopify-policy__body .rte h3 {
    margin-top: 20px;
    font-size: 22px;
}

.shopify-policy__body .rte :first-child:is(h2, h3) {
    margin-top: 0;
}

.shopify-policy__body .rte p {
    margin: 0 0 20px;
}

.shopify-policy__body .rte ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0 0 18px;
    list-style-type: disc;
}

.shopify-policy__body .rte li::marker {
    font-size: 14px;
    color: var(--black);
}

.shopify-policy__body .rte li a {
    color: var(--paragraph-text-color);
    font-weight: 600;
}

.shopify-policy__body .rte li a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 767px) {
    .shopify-policy__body .rte :is(h2, h3) {
        font-size: 22px;
    }

    .shopify-policy__body .rte h3 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 575px) {
    .shopify-policy__container {
        padding: 24px 16px;
    }

    .shopify-policy__title h1 {
        font-size: 24px;
    }

    .shopify-policy__body .rte :is(h2, h3) {
        margin-top: 30px;
        font-size: 20px;
    }

    .shopify-policy__body .rte h3 {
        font-size: 17px;
    }

    .shopify-policy__body .rte :is(p, li) {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
    }
}
